* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p span {
    font-weight: bold;
}

.wrap {
    display: flex;
}

.wrap header {
    width: 100px;
    position: fixed;
}

nav {
    position: relative;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button img {
    width: 50px;
    height: 50px;
}

nav li > a {
    display: block;
    margin: 20px 0;
    color: orangered;
}

main {
    margin-left: 130px;
}

section {
    margin-bottom: 50px;
}

h5 {
    font-size: 16px;
}

footer {
    width: 100%;

    /* Visual effect */
    border-radius: 20px 20px 0 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6),
    -10px 10px 20px rgba(0, 0, 0, 0.6),
    10px -10px 20px rgba(0, 0, 0, 0.6),
    -10px -10px 20px rgba(0, 0, 0, 0.6);
}

.link {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 20px;
    padding-top: 20px;
}

.link img {
    width: 50px;
    height: 50px;
}

.credit {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-top: 20px;
    padding-bottom: 20px;
}
