* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 80%;
    padding: 20px 0;
    margin: auto;
    
    /* Visual effect */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    
    /*Grid layout to display the element of the navbar */
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100%;
}

.time {
    /*Show time on the right side */
    grid-column-start: 2;
    
    /* Increase the time size */
    font-size: 30px;
    text-align: center;
}
