* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hide {
    display: none;
}

.navbar {
    width: 80%;
    padding: 20px 0;
    margin: auto;

    /* Visual effect */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
}

.time {
    width: 150px;

    margin-right: 50px;

    /* Increase the time size */
    font-size: 30px;
    text-align: center;

    /* Positioning element */
    float: right;
    position: relative;
    top: -60px;
}

.navbar form {
    height: 100%;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

.form-row label {
    font-size: 26px;

    /* Positioning label */
    position: relative;
    top: -5px;
}

.form-row input[type="submit"] {
    margin-left: 20px;
    padding: 0 5px;
}

.space {
    height: 50px;
}

main > h1 {
    margin: auto;
    text-align: center;
}

.weather {
    text-align: center;
    font-size: 24px;
    font-style: italic;

    margin-bottom: 20px;
}

.weather > img {
    width: 150px;
    height: 150px;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.temperature > img {
    height: 150px;
    margin-right: 20px;
}
