@page
@model WeatherApp.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weather</title>
    <link rel="stylesheet" href="Style/style.css"/>
</head>
<body>
<nav class="navbar">
    <div class="form">
        <form method="post">
            <div class="form-row">
                <label for="search">Search your city</label>
            </div>
            <div class="form-row">
                <input type="text" name="city" id="search"/>
                <input type="submit" asp-page-handler="Search" value="Search" />
            </div>
        </form>
    </div>
    <div class="time">
        <p id="time"></p>
    </div>
</nav>

<main>
    <p>@Model.Info.Text</p>
    <img src="@Url.Content(@Model.Info.Icon)" alt="Weather image"/>
</main>

<script src="JavaScript/time.js"></script>
</body>
</html>