@page
@model WeatherApp.Pages.Index

<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meteo</title>
    <link rel="stylesheet" href="Style/style.css" />
</head>
<body>
<main>
    <img alt="Website under construction" src="~/Under.jpg" />
</main>
</body>
</html>