@page
@model WeatherApp.Pages.Index

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weather</title>
    <link rel="stylesheet" href="Style/style.css"/>
</head>
<body>
<nav class="navbar">
    <div class="form-search">
        <form method="get">
            <div class="form-row">
                <label for="search">Search your city</label>
            </div>
            <div class="form-row">
                <input type="text" id="search"/>
                <input type="submit" value="Search"/>
            </div>
        </form>
    </div>
    <div class="time">
        <p id="time"></p>
    </div>
</nav>

<script src="JavaScript/time.js"></script>
</body>
</html>