@page
@model WeatherApp.Pages.Index

<!DOCTYPE html>

<html lang="it">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weather</title>
    <link rel="stylesheet" href="Style/style.css"/>
</head>
<body>
<nav class="navbar">
    <div class="time">
        <p id="time"></p>
    </div>
</nav>

<script src="JavaScript/time.js"></script>
</body>
</html>